:root {
    --top-indent: 20px;
    --bottom-indent: var(--top-indent);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #2A2A2A;
    color: #9C9C9C;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1024px;
    min-width: 360px;
    margin: 0 auto;
    padding-top: var(--top-indent);
    padding-bottom: var(--bottom-indent);
}

.headerLabel {
    font-size: 3rem;
    text-transform: uppercase;
}

.fade-list-enter-active {
    transition: opacity 0.5s;
}

.fade-list-leave-active {
    transition: none;
}

.fade-list-enter-from {
    opacity: 0;
}

.fade-list-enter-to {
    opacity: 1;
}

.fade-list-leave-from,
.fade-list-leave-to {
    opacity: 0;
}