@import './reset.css';

:root {
    --header-height: 100px;
    --bottom-indent: var(20px);
}

@media (max-width: 620px) {
    :root {
        --header-height: 62px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: square;
    list-style-position: inside;
    padding-left: 20px;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0 20px 20px;
}

.pageContainer {
    max-width: 1024px;
    min-width: 360px;
    margin: 0 auto;
    padding-top: var(--header-height);
    padding-bottom: var(--bottom-indent);
    position: relative;
}

.pageHeader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: var(--header-height);
}

.pageContent {
    position: relative;
}

.headerLabel {
    font-size: 3rem;
    text-transform: uppercase;
}

.fade-list-enter-active {
    transition: opacity 0.5s;
}

.fade-list-leave-active {
    transition: none;
}

.fade-list-enter-from {
    opacity: 0;
}

.fade-list-enter-to {
    opacity: 1;
}

.fade-list-leave-from,
.fade-list-leave-to {
    opacity: 0;
}